form{
  text-align:center;
  margin: 150px;
  
  
}
p{
  background-color: red;
  width:1500px;
  height:1500px;
  
}
input{
  
  background-color:#E5E5E5;
}
label{
  padding:20px;
}
textarea{
  background-color:#E5E5E5;
  
}
sup{
  color:red;
}
